<h2> recipe search system</h2>
<table>
    <tr>
        <th>name</th>
        <th>time</th>
        <th>one point</th>
        <th>ingredient</th>
    </tr>
    <tr *ngFor="let recipe of recipedata">
        <td><a routerLink="/recipe-data/{{recipe.id}}">{{recipe.name}}</a></td>
        <td>{{recipe.minute}}</td>
        <td>{{recipe.feature}}</td>
        <td>
            <span *ngFor="let item of recipe.ingre; let i=index"><ng-container *ngIf="i<3">{{item.name}}&nbsp;
                </ng-container>
            </span>
        </td>
    </tr>
</table>